body .ui-button, body .ui-layout-unit .ui-layout-unit-header {
	background: linear-gradient(to right, rgba(117, 88, 165, 1) 0%,
		rgba(37, 184, 213, 1) 99%) !important;
}

body .ui-layout-resizer {
	background-color: transparent !important;
}

body .ui-layout-unit {
	border: 0px !important;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active {
	background: linear-gradient(to right, rgb(170 146 210) 0%,
		rgba(37, 184, 213, 1) 89%) !important;
	border: 0px !important;
}


@media screen and (max-width: 768px ) {
	.modalResponsivo {
		width: 90% !important;
	}
}

@media screen and (min-width: 1024px ) {
	.modalResponsivo {
		width: 30% !important;
	}
}

/*Este sirve para quitar el borde  de los panelgrid*/
.ui-panelgrid tr, .ui-panelgrid td {
border:0 !important;
}
table.dataTable {
	border-collapse: collapse !important;
	
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
	border-bottom: 0px!important;
	
}