body .ui-button, body .ui-layout-unit .ui-layout-unit-header {
	
}

body {
	background: white;
}

/*Este sirve para quitar el borde  de los panelgrid*/
.ui-panelgrid tr, .ui-panelgrid td {
	border: 0 !important;
}

table.dataTable {
	border-collapse: collapse !important;
	
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
	border-bottom: 0px!important;
	
}
@media screen and (max-width: 768px ) {
	.modalResponsivo {
		width: 90% !important;
	}
}

@media screen and (min-width: 1024px ) {
	.modalResponsivo {
		width: 30% !important;
	}
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
	{
	background: white;
}

button.dt-button, div.dt-button, a.dt-button{
	color:#00bcd4;
	background-color: transparent!important;
	border-color: #00bcd4;
	margin-left: 8px;
	font-size: 1.3em;
	margin-top: 5px;
}